%head
  %title My Trip around the USA on a Segway
%body
  %h1 Segway'n USA
  %p Documenting my trip around the US on my very own Segway!
  %h2 August 20, 2005
  %img(src="images/segway2.jpg")
  %p 
    Well I made it 1200 miles already, and I passed through some 
    interesting places on the way: 
  %ol
    %li Walla Walla, WA
    %li Magic City, ID
    %li Bountiful, UT
    %li Last Chance, CO 
    %li Truth or Consequences, NM
    %li Why, AZ
  %h2 July 14, 2005
  %p 
    I saw some Burma Shave style signs on the side of the road today:
  %blockquote
    Passing cars,
    %br/ 
    When you can't see,
    %br/
    May get you a glimpse,
    %br/ 
    Of eternity.
    %br/
  %p I definitely won't be passing any cars.
  %h2 June 2, 2005
  %img(src="images/segway1.jpg")
  %p 
    My first day on the trip!  I can't believe I finally got everything packed
    and ready to go.  Because I'm on a Segway, I wasn't able to bring a whole lot with me:
  %ul
    %li cellphone
    %li iPod
    %li digital camera
    %li and a protein bar
  %p 
    Just the essentials.  As Lao Tzu woould have said:
    %q A journey of a thousand miles begins with one Segway.